<nav class="navbar navbar-expand-md navbar-light bg-light">
  <!--  MOBILE-MENU-BUTTON-->
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarTogglerDemo03"
    aria-controls="navbarTogglerDemo03"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <!--  LOGO-->
  <a class="navbar-brand" href="#">Recipe Book</a>
  <!--  MENU-ITEMS-->
  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="#" (click)="onSelect('recipe')">Recipes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="onSelect('shopping-list')"
          >Shopping List</a
        >
      </li>
      <!--  MENU-DROPDOWN-->
      <li class="nav-item dropdown" appDropdown>
        <a
          href="#"
          class="nav-link dropdown-toggle"
          role="button"
          data-toggle="dropdown"
          >Manage <span class="caret"></span
        ></a>
        <ul class="dropdown-menu">
          <li class="dropdown-item">
            <a class="nav-link" href="#">Save Data</a>
          </li>
          <li class="dropdown-item">
            <a class="nav-link" href="#">Fetch Data</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
