<section class="container pt-4">
  <h3>Contact form</h3>
  <form (ngSubmit)="onSubmit()" [formGroup]="formState" id="formContact">
    <!-- INPUTS -->
    <div>
      <label>
        Name:
        <input type="text" class="form-control" formControlName="name">
      </label>
    </div>
    <div>
      <label>
        NIP:
        <input type="text" class="form-control" formControlName="nip">
        <!-- NIP VALIDATION -->
        <div *ngIf="getFormControl('nip')?.invalid && (getFormControl('nip')?.dirty || getFormControl('nip')?.touched ) ">
          <small id="patternValidationMessage" class="text-danger d-block" *ngIf="getFormControl('nip')?.errors?.pattern">
            NIP must be a number.
          </small>
          <small id="requiredValidationMessage" class="text-danger d-block" *ngIf="getFormControl('nip')?.errors?.required">
            NIP is required.
          </small>
          <small id="minLengthValidationMessage" class="text-danger d-block" *ngIf="getFormControl('nip')?.errors?.minlength">
            NIP must be a 10 numbers length.
          </small>
            <small id="maxLengthValidationMessage" class="text-danger d-block" *ngIf="getFormControl('nip')?.errors?.maxlength">
              NIP must be up to 10 numbers.
            </small>
        </div>
      </label>
    </div>
    <div>
      <label>
        Email:
        <input type="email" class="form-control" formControlName="email">
        <!-- EMAIL VALIDATION -->
        <div *ngIf="getFormControl('email')?.invalid && (getFormControl('email')?.dirty || getFormControl('email')?.touched ) ">
          <small id="errorEmailRequired" class="text-danger" *ngIf="getFormControl('email')?.errors?.required">
            Email is required.
          </small>
          <small id="errorEmailInvalid" class="text-danger" *ngIf="getFormControl('email')?.errors?.email">
            Email is invalid.
          </small>
        </div>
      </label>
    </div>
    <div>
      <label>
        Address:
        <input type="tex" class="form-control" formControlName="address">
      </label>
    </div>
    <div>
      <label>
        Web:
        <input type="url" class="form-control" formControlName="web">
      </label>
    </div>
    <!-- BUTTONS -->
    <div class="mt-4">
      <button type="reset" class="btn btn-secondary mr-2">Clear</button>
      <button type="submit" class="btn btn-primary" [disabled]="formState.invalid">Add</button>
    </div>
  </form>
</section>
